[2019-04-19 01:31] ExperimentsInHonesty opened #33 "Create a Guide: How to start a new project at Hack for LA"
### Overview
We need to a guide to creating new projects, so that we can help people bring promising projects to the org for consideration

### Action Items
- [ ] Interview Bonnie to get a checklist for new project considerations (list guides here)
   - [ ]  Create a one sheet https://docs.google.com/document/d/14-nYNCjrMrC8lucUNBfLOFQZk2sWbkRlJgigWDAlqlI/edit
- [ ] Find and add the issues related

[2021-01-02 05:43] ExperimentsInHonesty opened #36 "Create a Guide: Create a wiki for your project"
### Overview

We need to create a guide that shows how to use the Hack for LA GitHub template wiki to create a new wiki for your project's GitHub repository so that each project team can create a wiki for the project.

### Action Items

- [ ] Gather examples of how other Hack for LA projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gathe

[2021-02-13 06:58] Olivia-Chiong opened #44 "Create a Guide: How to Add Resumes Bullets to your Issue"
### Overview
We need to create a guide to making issues that communicate experience gained so it will be easier for people to add work to their resume.  (i.e, if we pre-write the bullet, then it can just be added to the person's resume when they finish the work).

### Special note
This practice is not utilized on any project.  A pilot was done on the hackforla website.  We are going to try a pilot

[2021-03-05 00:22] erigilg opened #34 "Create a Guide: What does a PM do readme"
### Overview
We need to create a guide to PM responsibilities at Hack for LA so that they can recruit successfully for other pms to join them.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template,

[2021-03-10 00:38] erigilg opened #32 "Create a Guide/Template: Create an email for your project"
### Overview
We need to create a guide to creating an email for your project so that teams know how to get a Hack for LA email and a gmail for its different purposes.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] C

[2021-04-02 18:22] ktjnyc opened #43 "Create a Guide/Template: How to make a pr"
### Overview
We need to create a guide to making a pull request so that project managers can do a none code related update.

### Action Items
- [x] This guide only requires one example.
  - [ ] Record Bonnie making a non code pr
     - [ ] Add recording to resources
  - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Create Guide" label
- [ ] Create a guide on how to use the

[2021-06-28 01:19] glenflorendo opened #2 "Workflow Modeling: Slack"
### Overview
We need to model the Slack management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Upload recording to Google Drive
- [ ] Attach link to issue
- [ ] Turn video transcript i

[2021-06-28 01:19] glenflorendo opened #3 "Workflow Modeling: Meetup"
### Overview
We need to model the Meetup management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Upload recording to Google Drive
- [ ] Attach link to issue
- [ ] Turn video transcript

[2021-06-28 01:20] glenflorendo opened #4 "Workflow Modeling: GitHub"
### Overview
We need to model the GitHub management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Upload recording to Google Drive
- [ ] Attach link to issue
- [ ] Turn video transcript

[2021-06-28 01:20] glenflorendo opened #5 "Workflow Modeling: GSuite"
### Overview
We need to model the GSuite management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Upload recording to Google Drive
- [ ] Attach link to issue
- [ ] Turn video transcript

[2021-06-28 01:20] glenflorendo opened #6 "Workflow Modeling: 1Password"
### Dependency
Finishing with each issue

### Overview
We need to model the 1Password management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [x] Name all of the known workflows in this tool
- [x] Make appointment with member of admin team who is currently performing function
- [x] Record workflow demos
- [x] Send admin assignee the link to the recordi

[2021-06-28 01:21] glenflorendo opened #7 "Workflow Modeling: Google Drive"
### Overview
We need to model the Google Drive management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Upload recording to Google Drive
- [ ] Attach link to issue
- [ ] Turn video trans

[2021-06-28 01:25] glenflorendo opened #8 "Add team members to resources"
### Overview
We need everyone to have access to the shared resources, so they can be effective on this team.

### Action Items
- [x] Get emails from new admin members
   - [x] Add emails to Google Drive
      - [x] Send link to the roster
         - [x] Have them fill out the roster
   - [x] Add them to admin-write team on GitHub

### Resources/Instructions
- [Google Drive](https://drive.google.co

[2021-06-28 01:35] glenflorendo opened #9 "In-fill Board: Karen"
### Overview
We need to document what happened between Bonnie and admin team in last week's brain dumps.

### Action Items
- [x] Reach out to Karen who met with Bonnie at Tuesday, June 22⋅5:30 – 6:00pm and find out what process they were modeling
- [ ] Ask Karen to upload the files Bonnie sent her to the Google Drive
- [x] Assign Karen the related issue

### Resources/Instructions
- [Files from re

[2021-06-28 01:40] glenflorendo commented on #6
Bonnie and Micah met on Wednesday, June 23⋅10:00 – 10:30am.

[2021-06-28 04:07] kcoronel commented on #9
@glenflorendo thanks! Can you tell me what google drive is best. Thank you!

[2021-06-30 02:02] glenflorendo commented on #9
Hi @kcoronel ! Could you please upload to the [Recordings Folder](https://drive.google.com/drive/folders/1i_mjlTp0tNfUiXeXN4YmbbuJg6iF-hPz)? Thanks!

[2021-06-30 05:42] glenflorendo commented on #6
Bonnie and Glen met on Sunday, June 27 ⋅ 5:30pm - 6:30pmm
[Recording](https://drive.google.com/drive/folders/1C7UE9ZXfkdtKv62uVHZvbm8zVPW3sRJI)

[2021-06-30 05:43] glenflorendo commented on #4
Bonnie and Glen met on Sunday, June 27 ⋅ 5:30pm - 6:30pmm
[Recording](https://drive.google.com/drive/folders/1C7UE9ZXfkdtKv62uVHZvbm8zVPW3sRJI)

[2021-07-02 02:01] glenflorendo commented on #6
@kcoronel confirmed with me that she worked with Bonnie on the 1Password workflows.

[2021-07-02 02:03] glenflorendo commented on #9
@kcoronel: Bonnie shared the recordings files from your meeting with her with me. I uploaded them to the Google Drive. Could you confirm that it's complete? Thanks!

[2021-07-02 02:08] #8 closed

[2021-07-11 21:28] #9 closed

[2021-07-11 21:34] ExperimentsInHonesty commented on #6
@kcoronel please add the link where you uploaded the file to the google drive and also provide an update on your progress on this issue
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-11 21:36] ExperimentsInHonesty commented on #4
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-11 22:05] ExperimentsInHonesty opened #11 "Workflow Modeling: Figma"
### Overview
We need to model the Figma management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Send admin assignee the link to the recording
- [ ] Upload recording to Google Drive
   -

[2021-07-11 22:06] ExperimentsInHonesty opened #12 "Workflow Modeling: Miro"
### Overview
We need to model the Miro management workflows, so that we can automate and/or train new people to do them.

### Action Items
- [ ] Name all of the known workflows in this tool
- [ ] Make appointment with member of admin team who is currently performing function
- [ ] Record workflow demos
- [ ] Send admin assignee the link to the recording
- [ ] Upload recording to Google Drive
   -

[2021-07-11 22:35] ExperimentsInHonesty opened #13 "Team Recruitment"
### Overview
We need to recruit enough people that the Admin team responsibilities are easy to manage

### Action Items
- [ ] Write a slack message
   - [ ] Link to the FAQ
   - [ ] camille's slack handle for followup
- [ ] Post a PM volunteer opportunity on the PM open roles board

### Resources/Instructions
[Recruitment messaging](https://docs.google.com/document/d/1YgWQq4-Mp-olReyEyDQKPTsHNbKOP

[2021-07-11 23:05] ExperimentsInHonesty opened #14 "Move files from old google drive to new one: Glen"
### Overview
We need to move our files to a Google shared drive from the Google shared folder.

### Action Items
- [x] move the files that are owned by you

### Resources/Instructions
**Glen's files**
![glen google image](https://user-images.githubusercontent.com/37763229/125212146-40fd1e00-e260-11eb-9bd3-d7b56ae00103.PNG)
Move the files from the [old folder](https://drive.google.com/drive/folders

[2021-07-11 23:07] ExperimentsInHonesty opened #15 "Move files from old google drive to new one: Karen"
### Overview
We need to move our files to a Google shared drive from the Google shared folder.

### Action Items
- [x]  move the files that are owned by you

### Resources/Instructions

**Karen's files**
![karen google image](https://user-images.githubusercontent.com/37763229/125212102-f11e5700-e25f-11eb-9fb8-9632c18efdcb.PNG)
Move the files from the [old folder](https://drive.google.com/drive/fol

[2021-07-14 00:55] kcoronel commented on #6
Transcription from meeting with Bonnie on 7/13
17:49:55 I'm going to click on vaults and click and I'm looking for this specific vault I want to remove from some somebody from so ballot now, and then clicking on valid nav.
17:50:06 And now we're going to find somebody we want to remove as an example, this person, and I'm going to click on where it says view and edit the little gear next to their n

[2021-07-14 13:20] kcoronel commented on #15
Done on 7/14

[2021-07-16 19:30] glenflorendo commented on #14
This is all done!

Note: I did get this error `Folders can't be moved to shared drives yet`, so I just recreated the folders in the shared drive and just moved the files themselves. From my quick search, this looks to be an permissions issue.

[2021-07-16 19:31] #14 closed

[2021-07-17 16:26] ExperimentsInHonesty commented on #6
Recording has been made of creating a new vault.  Bonnie will need to upload

[2021-07-17 16:27] kcoronel commented on #6
Transcript of Creating New Vault
09:20:53 enable auto transcript.
09:20:56 And then
09:21:00 we're going to create a new bolts let me go to one password. I'm going to log in.
09:21:09 And then I'm going to
09:21:14 I'm going to go to faults, and I'm going to create a new vault.
09:21:21 And we're going to call this test vault test vault.
09:21:27 What the spots for us for testing. I'm making tutor

[2021-07-17 16:54] kcoronel commented on #6
Things to get done:
Clean up the issue re: recordings and transcripts
Permissions for 1Password
How do we determine our own permission

[2021-08-01 21:07] ExperimentsInHonesty commented on #6
@kcoronel I know we were not able to meet on Saturday.
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-01 21:08] ExperimentsInHonesty commented on #4
@micahesien
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-01 21:34] ExperimentsInHonesty opened #16 "privacy of processes (public/private)"
### Overview
We need to add a flag on each process we model so that we know who the guide is for and store appropriately

### Action Items
- [ ] Review existing issues and add privacy flag
- [ ] update template to include flag
- [ ] Figure out where private guides are stored

### Resources/Instructions
https://github.com/hackforla/admin/blob/main/.github/ISSUE_TEMPLATE/workflow-modeling---name-of-

[2021-08-01 21:39] ExperimentsInHonesty opened #17 "Permission levels"
### Overview
We need to define permission levels that are required to do the task and the process for getting those permissions and add whatever is appropriate to the guides

### Action Items
- [ ] Review existing issues and add space to record permission info
- [ ] update template to permission info

### Resources/Instructions
https://github.com/hackforla/admin/blob/main/.github/ISSUE_TEMPLATE/wo

[2021-08-01 21:56] ExperimentsInHonesty opened #18 "Add Workflows to issues"
### Overview
We need each issue assignee to define workflow in each issue so that we can identify if the issue is completely covered

### Action Items
- [ ] Review existing issues and add space to record workflows (see issue #6 for example)
- [ ] update template to workflow info

### Resources/Instructions
https://github.com/hackforla/admin/blob/main/.github/ISSUE_TEMPLATE/workflow-modeling---name

[2021-08-08 21:12] ExperimentsInHonesty commented on #6
@kcoronel I know we were not able to meet the last two saturdays
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-08 21:15] ExperimentsInHonesty commented on #4
@micahesien  I have not heard from you on this issue but I do see that you canceled attending our Wed meeting.  I am assuming you do not wish to continue on this project.  If I have misunderstood, please post a message in the #admin channel on hackforla slack about when you want to reschedule

[2021-08-08 21:17] #15 closed

[2021-08-09 00:51] kcoronel commented on #6
1. Progress - [edited transcript ](https://github.com/hackforla/admin/issues/6#issuecomment-881922690)
2. Blockers - need to determine I have organized videos with transcripts
3. Availability - I am available to meet on Saturday at 9:30
4. ETA - I will add two workflows to guide and present for review

Discussion for our next meeting:
What does the travel option in 1password mean? Do we add it to

[2021-08-12 13:28] kcoronel commented on #6
Questions:
At what point do we create project vaults?
Recover member accounts?

[2021-08-14 16:43] ExperimentsInHonesty commented on #6
Q1: What does the travel option in 1password mean?
A1: https://support.1password.com/travel-mode/

Q2: Do we add Travel Option  to our workflow?
A2: Not now

[2021-08-14 17:00] ExperimentsInHonesty commented on #6
@karen to
- [ ] Current todo are move the transcripts into text files and put in related folders for each process.

[2021-08-29 15:51] kcoronel commented on #6
- [ ] Update guide with this (example)[https://docs.google.com/document/d/127UrY-UdzPdcuEFvcOY6c7D9qctmTg-Kx_cXnawxrv8/edit#heading=h.c8tc614ce3iu] and create one for each of the workflows
- [ ] Add recording of recovering member account

[2021-08-30 17:13] Olivia-Chiong opened #19 "Create a guide: How to setup Figma for teams"
### Overview
We need to turn these [slides](https://www.figma.com/proto/MX5lVWLMSTOCTDXRHaK4jF/Presentations?node-id=1%3A59&viewport=225%2C359%2C0.18814989924430847&scaling=contain) into a guide with screenshots

### Action Items
- [ ] Follow the instructions on this slide and make it into a guide

### Resources/Instructions
Add it to [Civic Tech Structure](https://github.com/hackforla/civic-tech-

[2021-09-04 16:45] kcoronel commented on #6
@ExperimentsInHonesty to review guides above
@kcoronel add guides to Guide Tracker, create remaining guides

[2021-09-05 21:12] ExperimentsInHonesty commented on #6
- Workflows:
   - Add someone to the Hack for LA 1Password account [⏺️](https://drive.google.com/file/d/1UADo7FlvftvVgglfMVLDdiQSgPAxDP5D/view?usp=sharing) [🎉](https://docs.google.com/document/d/1wTeCJyYOhDSs5PEOhqJJM2UCX3Nap_mCF1mw8CJEso8/edit?usp=sharing)
     - setup Camille as an admin and then she will invite her other email to 1 password.
     - Camille will test out instructions and leave c

[2021-09-05 23:32] ExperimentsInHonesty commented on #6
The testing took 15 min per guide
The editing took 1.5 hours for two guides + notes, however, much of it will be reusable in the other 1password guides

[2021-09-06 14:47] ExperimentsInHonesty commented on #6
We will need to make a separate issue for each guide, so that its easier for the guide team to track it.

[2021-09-07 18:38] ExperimentsInHonesty commented on #19
# Original text from issue

### Overview
We need to turn these [slides](https://www.figma.com/proto/MX5lVWLMSTOCTDXRHaK4jF/Presentations?node-id=1%3A59&viewport=225%2C359%2C0.18814989924430847&scaling=contain) into a guide with screenshots

### Action Items
- [ ] Follow the instructions on this slide and make it into a guide

### Resources/Instructions
Add it to [Civic Tech Structure](https://gith

[2021-09-07 18:54] ExperimentsInHonesty commented on #19
- [ ] update this issue on the tracker

[2021-09-11 16:15] kcoronel commented on #6
@ExperimentsInHonesty to create a template for issue for each guide
@kcoronel to add one more checkbox to comment above

[2021-09-13 14:57] ExperimentsInHonesty opened #20 "Make a template for guide creation"
### Overview
We need to have a template for creating new guides on the Admin team so that we can speed up the process and bring on more team members.

### Action Items
- [x] Review current method used during creation of 1Password guides and make a template from that
- [x] Make clear to make separate guides for processes and sub processes.
- [x] Decide what labels are needed and add them to the rep

[2021-10-02 16:18] ExperimentsInHonesty commented on #20
# Potential text for Epic issue

Title: Workflow Modeling: [name of technology]

### Overview
We need to model the workflows of [name technology] so that we can create guide making issues.

### Action Items
- [ ] Record reviewing the application with the Subject Matter Expert (SME) to determine all features we are using and might use.
- [ ]

### Resources

[2021-10-02 17:09] kcoronel commented on #6
Next Steps from 10/2 Meeting:
- [ ] Karen to create an epic issue for 1Password using [Make a template for guide creation](https://github.com/hackforla/admin/issues/20#issue-994994117)
- [ ] Karen to create guide issue for 1Password [Make a template for guide creation](https://github.com/hackforla/admin/issues/20#issue-994994117)
- [ ] Karen to annotate any edits for next meeting

[2021-10-09 05:59] kcoronel opened #21 "Workflow Modeling: 1Password"
### Overview
We need to model the workflows of 1Password so that we can create guide making issues.

### Action Items
- [ ] Check to see if there is a label, and if not create a label for [name of technology] (e.g., 1password, GithHub, Google Drive)
- [ ] Create folder for guides
- [ ]  Create folder for recordings
- [ ]  Make appointment with member of admin team who is currently performing funct

[2021-10-09 06:07] kcoronel commented on #21
Notes: hyperlink to label tracker

[2021-10-09 15:22] kcoronel commented on #20
For epic issue:  hyperlink to label tracker

[2021-10-09 15:26] kcoronel opened #22 "Add Team Members to 1Password Account Guide"
### Dependency
Creation of epic

### Action Items
- [ ] Make appointment with member of admin team who is currently performing function.
   - [ ] Record workflow demo
   - [ ] Create folder for recording (see links below).
      - [ ] Upload recording and transcript.
- [ ] Make a guide
   - [ ] Turn video transcript into step-by-step process confirmation
   - [ ] Make a Guide using guide template

[2021-10-09 15:58] kcoronel opened #23 "Add Team Member to a 1Password Vault Guide"
### Dependency
Creation of epic #21

### Action Items
- [ ] Make appointment with member of admin team who is currently performing function.
   - [ ] Record workflow demo
   - [ ] Create folder for recording (see links below).
      - [ ] Upload recording and transcript.
- [ ] Make a guide
   - [ ] Turn video transcript into step-by-step process confirmation
   - [ ] Make a Guide using guide templ

[2021-10-10 21:33] ExperimentsInHonesty commented on #23
@kcoronel - Camille and I reviewed the latest draft. See document for requested change.

[2021-10-13 21:31] ExperimentsInHonesty opened #24 "Bonnie's issues"
### Overview
In order to keep Bonnie organized and aid in the reduction of dependence on her labor, we need visibility into what she is working on.

### Action Items
- [ ] Add a link to any issue that needs Bonnie's attention to the comments
- [ ] Bonnie will add item to the resources section in the priority order that is required

### Resources/Instructions

#### Tasks that should be tied to issu

[2021-10-18 02:36] kcoronel commented on #23
Edited this issue to reflect the changes captured in #20
Questions so far:
1. How to check off this comment when this was not part of my own guide creation process [Turn video transcript into step-by-step process confirmation]
2. Folders and Guides - is this correct? Was probably the hardest section to complete

[2021-10-18 03:20] kcoronel opened #25 "Guide: 1Password: Removing Team Members from a 1Password Vault"
### Dependency
Creation of epic #21

### Action Items
- [x] Make appointment with member of admin team who is currently performing function.
    - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [x] Link folder for recording and guide in defined sections below (see Resources).
   - [x] Record workflow demo
   - [ ]  remove label: "Status: Record" add label: "Status: Upload"
- [

[2021-10-18 03:34] kcoronel opened #26 "Guide: 1Password: Add Administrators to 1Password Account"
### Dependency
Creation of epic #21

### Action Items
- [x] Make appointment with member of admin team who is currently performing function.
    - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [x] Link folder for recording and guide in defined sections below (see Resources).
   - [x] Record workflow demo
   - [ ]  remove label: "Status: Record" add label: "Status: Upload"
- [

[2021-10-18 03:51] kcoronel commented on #6
@ExperimentsInHonesty questions below for our next meeting on 10/30

Need to do: Record "Adding Owners to the 1Password Account"

Questions so far:
1. How to check off this comment when this was not part of my own guide creation process [Turn video transcript into step-by-step process confirmation]
2. Folders and Guides - is this correct? Was probably the hardest section to complete
3. Location of

[2021-10-18 04:08] kcoronel opened #27 "Create a Workflow Guide/Template: 1Password: Creating a New Vault"
### Dependency
Creation of epic hackforla/knowledgebase-content#132

### Action Items
- [x] Make appointment with member of admin team who is currently performing function.
    - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [x] Link folder for recording and guide in defined sections below (see Resources).
   - [x] Record workflow demo
   - [x]  remove label: "Status: Record"

[2021-10-18 04:19] kcoronel opened #28 "Create a Workflow Guide/Template: 1Password: Add a Logo to 1Password Vault"
### Dependency
Creation of epic hackforla/knowledgebase-content#132

### Action Items
- [x] Make appointment with member of admin team who is currently performing function.
    - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [x] Link folder for recording and guide in defined sections below (see Resources).
   - [x] Record workflow demo
   - [x]  remove label: "Status: Record"

[2021-10-18 04:31] kcoronel opened #29 "Create a Workflow Guide/Template: 1Password: Recover Team Members 1Password Account in Case of Lockout or Forgotten Password"
### Dependency
- [ ] Creation of epic https://github.com/hackforla/admin/issues/21

### Action Items
- [x] Make appointment with member of admin team who is currently performing function.
    - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [x] Link folder for recording and guide in defined sections below (see Resources).
   - [x] Record workflow demo
   - [x]  remove label: "

[2021-10-31 21:13] ExperimentsInHonesty commented on #23
Only thing remaining is defining Hack for LA's word choices (e.g., click or choose, etc.).  See https://github.com/hackforla/guides/issues/21#issuecomment-955792532

[2021-10-31 21:22] ExperimentsInHonesty commented on #25
@kcoronel The following text was removed from the issue

We should just make guides for those other process.

[2021-10-31 21:25] ExperimentsInHonesty commented on #25
Only thing remaining is defining Hack for LA's word choices (e.g., click or choose, right hand side, etc.).  See https://github.com/hackforla/guides/issues/21#issuecomment-955792532

[2021-10-31 21:34] ExperimentsInHonesty commented on #27
@kcoronel Left some notes for you in the guide.  I have changed the label back to draft guide.

[2021-11-08 23:25] Zytko opened #30 "Make 1Password Guide"
### Overview
We want to create a guide for setting up 1Password in Google Docs so that we can have a self guided way to log onto 1Password and prevent somebody else having to do the onboarding.

### Action Items

- [ ] Add information from the deck into the document
- [ ] Reformat to guide format
- [ ] Add a link to this asset into the wiki

### Resources/Instructions
[1Password Setup Deck](https:

[2021-11-14 22:17] ExperimentsInHonesty commented on #21
- [x] Fix all the 1password guides so they have the same format.  See the following for changes

- We decided to change where it says
**How** to use this Guide?
to
**How** to use this Guide
Follow the steps listed below.

- We have to change to use the following convention

- The following text in all the 1password guide files should be formatted as follows
Head to 1password.com/ and click on **Si

[2021-11-27 06:05] kcoronel commented on #23
Cool, I would also like to go over these comments to confirm what edits are needed, [Guide: Create a New Vault on 1Password](https://docs.google.com/document/d/1iPOYKHhUrN2giXNLdIt_gWi_jCUZbM1-WyXtDCel4jA/edit#heading=h.n6bio46dpss7)

[2021-11-27 17:36] ExperimentsInHonesty opened #31 "Define inclusive guidelines"
### Overview
We want our guides to be as inclusive as possible, with language that translates to screen readers well.

### Action Items
- [ ] Identify common wording
- [ ] examples of common wording
- [ ] replacement structures

### Resources/Instructions

[2021-11-27 17:45] ExperimentsInHonesty commented on #31
Wording choices examples
- Original:
   - Head to 1password.com/ and click on **Sign In** on the top-right hand side. Choose the **Hack for LA** account. Sign in to the account using your credentials.
- Proposed change:
   - Head to 1password.com/ and choose the Sign in menu option. [insert screenshot here]

[2021-11-28 22:10] ExperimentsInHonesty commented on #29
The steps work. The guide just need to the languages changes we talked about.

[2021-11-28 22:14] ExperimentsInHonesty commented on #28
The steps work. We just need to make the language changes we talked about

[2021-11-28 22:24] ExperimentsInHonesty commented on #22
We made some minor changes and suggestions.  Also we still need to make the language changes that we talked about

[2021-12-04 18:02] ExperimentsInHonesty commented on #20
- [x] we need to go through all the issues that have already been made and make sure they have the correct labels and that the named epics label is the right color.

[2021-12-09 21:28] ExperimentsInHonesty opened #35 "Workflow Modeling: Google Sites"
### Overview
We need to model the workflows of Google Sites so that we can create guide making issues.

### Action Items
- [ ] Setup Items
  - [ ] Check to see if there is a label for the epic, and if not create a label for [name of technology] (e.g., 1password, GithHub, Google Drive)
  - [ ] Create folder for guides
  - [ ] Create folder for recordings
- [ ] Setup complete
   - [ ] remove label:

[2021-12-18 04:50] kcoronel commented on #21
Should this issue hold the 0.1-Status: Setup Epic label?

[2021-12-18 05:58] kcoronel commented on #31
Original: user should see

[2021-12-18 16:27] kcoronel commented on #21
STILL EDITING:
      - 🎉[Add Administrators to 1Password Account](https://docs.google.com/document/d/1SMoNKZ3y1_nfCCWXJ9cSNw30btO-9KOR3ycRUxUkaQc/edit?usp=sharing)
      - 🎉(https://docs.google.com/document/d/1zJSu8wDUMJG3yFV8ipsCFjtDQbZ7fds3--LZNAEPVj0/edit?usp=sharing)
      - 🎉(https://docs.google.com/document/d/1Mg8jAcjJK83xO9c3g0VvB6B5RjpIzPB0W7W8Ozl4qkE/edit?usp=sharing)

[2021-12-18 17:29] ExperimentsInHonesty commented on #21
Next steps
- [ ] Make folders for the workflows with no issues yet
   - [ ] recording folders
   - [ ] guide folders

[2021-12-18 17:32] ExperimentsInHonesty commented on #31
walk you through should be replaced with take you

[2021-12-18 18:00] ExperimentsInHonesty commented on #21
notes from 2021-12-18 meeting Edit guide template issue to include a note that says if its the first issue to get worked on in the epic series that you will need to make a template, after you finish writing the guide and copy that template link back into the epic and before starting this issue check the epic to start with the template

[2021-12-20 16:37] ExperimentsInHonesty opened #38 "Admin team agenda"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-20 16:37] ExperimentsInHonesty commented on #38
## 2022-01-15 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call
Karen and Bonnie

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM ignoring hackforla/admin#38 and hackforla/admin#31
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/Ex

[2022-01-09 22:14] ExperimentsInHonesty commented on #23
@kcoronel I added a note next to your question with new wording.

[2022-01-09 22:35] ExperimentsInHonesty commented on #25
@kcoronel I added a note next to your question with new wording and some other notes.  Some changes are the same between this and #23

[2022-01-15 08:20] kcoronel commented on #23
@ExperimentsInHonesty looking for more clarification here tomorrow 1/15

[2022-01-15 17:45] ExperimentsInHonesty commented on #38
## [Date] Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/ad

[2022-01-15 18:01] ExperimentsInHonesty commented on #21
[Note from Sept 5th](https://github.com/hackforla/admin/issues/6#issuecomment-913246916) The testing took 15 min per guide
The editing took 2.75 hours for four guides + notes, however, much of it will be reusable in the other 1password guides

[2022-01-15 18:02] ExperimentsInHonesty commented on #6
- [x] check the new guide issue template and make sure it has instructions to add it to the guide tracker.
- [x] check this comment for anything that still needs to be done https://github.com/hackforla/admin/issues/6#issuecomment-945338720 - All these questions have been answers
- [x] Close this issue with the note that this issue has been replaced by issue hackforla/knowledgebase-content#132

[2022-01-22 16:36] kcoronel commented on #38
## 2022-01-22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [x] Accountability and Support Check.
    - [x] Review assignments for each PM ignoring hackforla/admin#38 and hackforla/admin#31 hackforla/admin#24
       - [x] [Bonnie](https://github.com/hackforla/admin/issues/assigned/

[2022-01-22 17:44] #6 closed

[2022-01-22 17:46] ExperimentsInHonesty commented on #6
This issue has been closed and the epic label removed because its got replaced when we made issue hackforla/knowledgebase-content#132

[2022-01-22 17:56] ExperimentsInHonesty commented on #18
This has been completed by making a new template for
[epics](https://github.com/hackforla/admin/issues/new?assignees=&labels=0.1-Status%3A+Setup+Epic&template=epic-for-workflow-modeling.md&title=Workflow+Modeling%3A+%5Bname+of+technology%5D)
[guides](https://github.com/hackforla/admin/issues/new?assignees=&labels=1.1-Status%3A+Make+Appt&template=guide-template.md&title=Guide%3A+%5BTool%5D+%3A+%5BW

[2022-01-22 17:56] #18 closed

[2022-01-23 22:08] ExperimentsInHonesty commented on #23
Both Camille and Bonnie have signed off on this guide.  Its ready for placement

[2022-01-23 22:17] ExperimentsInHonesty commented on #25
@kcoronel we made another change to the document, we need one last screenshot changed.

[2022-01-29 06:11] kcoronel commented on #29
This guide needs to be updated with a new method for removing folks - ask Bonnie if this requires a separate guide or should the step be added to this existing guide? Also, would we need a new video recording?

[2022-01-29 06:34] kcoronel commented on #29
Should we edit this sentence "Follow the steps listed below"

[2022-01-29 07:01] kcoronel commented on #27
I am working on this guide. I will post a comment and move it to Review/Questions when ready.

[2022-01-29 07:32] kcoronel commented on #38
Create two remaining guides from workflow :

- [x] Add Owners to the 1Password Account - in draft mode
- [x] Update - Create a New Vault on 1Password Guide

- [x] Create a guide issue that includes the following: adding people to vault, adding logo to vault, and removing someone from vault

Next week:
Go through Admin PM board and clean up

[2022-01-29 17:20] kcoronel commented on #31
"Follow the steps listed below" should be replaced to "use the steps that follow"

[2022-01-29 17:20] kcoronel commented on #29
Replace "Follow the steps listed below" with "use the steps that follow"

[2022-01-29 17:27] kcoronel commented on #26
Replace "Follow the steps listed below" with "use the steps that follow"

[2022-01-29 17:28] kcoronel commented on #28
Replace "Follow the steps listed below" with "use the steps that follow"

[2022-01-29 17:28] kcoronel commented on #25
Replace "Follow the steps listed below" with "use the steps that follow"

[2022-01-29 17:29] kcoronel commented on #22
Replace "Follow the steps listed below" with "use the steps that follow"

[2022-01-29 17:31] #20 closed

[2022-01-29 17:57] kcoronel opened #39 "Add Members to Admin Team"
### Overview
We need to add more people doing workflow modeling and reviewing so that we can have end to end guides for all admin practices.

### Action Items
- [ ] Check to see if there is an open roles board
- [ ] If not, create an open roles board
- [ ] Create an issue for recruiting each role type
   - [ ] Draft roles
   - [ ] Post roles on board
   - [ ] Message on Slack
- [ ] Add Admin to Co

[2022-02-05 21:47] kcoronel commented on #29
@ExperimentsInHonesty ready for review with Camille :)

[2022-02-06 02:07] kcoronel opened #40 "Create a Workflow Guide/Template: 1Password: Add Owners to the 1Password Account"
### Dependency
Creation of epic hackforla/knowledgebase-content#132

### Action Items
- [x] Add this issue to the following Projects (right side of this issue)
   - [x] Repository: Task Board
   - [x] Organization: Guide Tracker
- [x] Make appointment with member of admin team who is currently performing function.
   - [x] remove label: "Status: Make Appt" add label: "Status: Record"
- [ ] Link fo

[2022-02-06 02:36] kcoronel commented on #40
@ExperimentsInHonesty need to record this workflow with you and/or take screenshots with you.

[2022-02-26 12:05] kcoronel opened #41 "Hack for LA General Announcement on 2Factor Authorization"
### Overview
In an attempt to develop a standard practice that lets the admin team take over administrative responsibilities for the organization. We will make a general channel announcement for 2factor authorization. Our goal is to have all of our members complete this step.

will kick you out, will have to come to onboarding

### Action Items
- [ ] Create a message to send to community, review w

[2022-02-26 12:07] kcoronel commented on #38
### 02-26-22 Agenda and notes

## [Date] Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [x]  Review assignments for each PM ignoring https://github.com/hackforla/admin/issues/38 and https://github.com/hackforla/admin/issues/31 https://gith

[2022-02-26 12:12] kcoronel opened #42 "Administrative Intake Form"
### Dependency

- [ ] Wiki instructions for all major areas

### Overview
In order to help manage administrative tasks, we will create a google form for which community members seeking assistance can complete and the extended team can tirage with Bonnie.

### Action Items
- [ ] Identify workflows for which to create google forms
- [ ] Draft google forms
- [ ] Draft header for google forms
- [ ] An

[2022-02-26 18:53] ExperimentsInHonesty commented on #42
@kcoronel I reviewed the rest of the admin channel requests and it all seemed to be covered by the above.

[2022-02-28 01:51] camkan commented on #29
Looks good.

[2022-02-28 01:52] camille-kay commented on #25
looks good.

[2022-02-28 01:59] camille-kay commented on #22
Looks good. Only thing missing is a link to another guide which is still To-Do. @ExperimentsInHonesty Unsure if this should be moved to Ready for Placement or not in the meantime.

[2022-02-28 02:19] camille-kay commented on #28
Comments on the latter part of the document added. Includes: removing option 1 image and using option 2 instead; and changing the total number of pages from 8 to 7 if deleting the option 1 image brings the page count down (which it may not).

[2022-02-28 02:28] camille-kay commented on #27
Commented on document. Main takeaways: Step 6 and its alternative are separated and worded in a (personally) confusing way; some formatting changes are suggested.

[2022-02-28 02:30] camille-kay commented on #29
@kcoronel @ExperimentsInHonesty - Can someone update the link in the description? It currently goes to the 'Guide: Removing Team Members from a 1Password Vault' instead of the 'Recover' document.

[2022-03-05 17:23] kcoronel commented on #27
@camkan reviewed your changes. This document is ready to be re-reviewed.

[2022-03-05 17:27] kcoronel commented on #28
@camkan thank you for your help! Resolved all of your comments.

[2022-03-05 18:03] kcoronel commented on #42
@kcoronel edit form to create separate forms for each request

Create a header for google forms - [Hack for LA Onboarding Presentation](https://docs.google.com/presentation/d/127UC7q5JOgc5oPev4bbEdydchany-rVBkPRn4w6DMek/edit#slide=id.gd0de62c6b7_0_105 )

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3

[2022-03-05 18:41] ExperimentsInHonesty commented on #42
This link will come in handy once we are ready for it
[Send a form with pre-filled answers](https://support.google.com/a/users/answer/9308781?hl=en)

[superman form example of skipping sections](https://docs.google.com/forms/d/1-2Tfw42M0EKSlR4hPSFzJyrn6bahEGMA2-LPEQk179M/edit)

[2022-03-06 19:13] kcoronel commented on #42
Updated the form to reflect the following changes:
- Follow-up questions for request
- Question jumps around section based on response ([similar to superman form example of skipping sections](https://docs.google.com/forms/d/1-2Tfw42M0EKSlR4hPSFzJyrn6bahEGMA2-LPEQk179M/edit))

Created the following forms:
[Request Form for Repo Access](https://docs.google.com/forms/d/1AkRMD0W9xA2Wsz2AA93fNSY3G1ki6J

[2022-03-12 15:30] kcoronel commented on #38
## 3-12-22 Agenda  and notes

### Prework

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Saturday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM ignoring https://github.com/hackforla/admin/issues/38 and https://github.com/hackforla/admin/issues/31 https://github.com/hackforla/admin/issues/24
       - [ ] [Bonnie](https://github.com/h

[2022-03-12 16:22] kcoronel commented on #40
This draft is ready for review :)

[2022-03-12 17:52] kcoronel commented on #42
@kcoronel to add workflows to admin wiki and @ExperimentsInHonesty will begin to write out quick tips for folks to follow through
Look up autoresponder for slack admin, if can't we can pin the wiki to admin slack channel

[2022-03-14 03:11] ExperimentsInHonesty opened #45 "You need to turn on 2FA on your GitHub ASAP (we are making it mandatory at HfLA)"
### Overview
We are turning on 2-Factor Authentication (2FA) required on Hack for LA's GitHub.  Anyone who has not turned on 2FA will be removed automatically by GitHub when we do it.  Then you have to ask to be re added to all the repos you had before, and it will be a total PIA.

### Action Items
- If your GitHub handle is on the list below, it means you have been an active member of our GitHub

[2022-03-19 16:11] kcoronel commented on #38
## 3/19 Agenda  and notes

### Prework

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [x] Accountability and Support Check.
    - [x] Review assignments for each PM
       - [x] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [x] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)

#### New Items
-

[2022-03-19 16:44] ExperimentsInHonesty commented on #42
Common saved replies
[code]

[code]

[2022-03-19 16:55] kcoronel commented on #42
Next steps:
- [x] Bonnie and Karen will begin to set-up the Getting Started wiki with FAQ's

[2022-03-19 17:04] kcoronel commented on #41
Closing this issue because Bonnie created this issue and moved it forward
https://github.com/hackforla/admin/issues/45

[2022-03-19 17:04] #41 closed, assigned to kcoronel

[2022-03-19 17:07] kcoronel commented on #45
Today, Bonnie messaged each Hack for LA project team by going through the [hackforla.org project page](https://www.hackforla.org/projects/)

[2022-03-19 20:25] GigiUxR commented on #45
Hi

I did this and received confirmation for it. Is it not showing up?

On Sat, Mar 19, 2022, 1:07 PM Karen ***@***.***> wrote:

[2022-03-24 15:35] fancyham commented on #45
Hi @ExperimentsInHonesty, could I be re-added?  I got bumped off!

[2022-03-26 16:04] kcoronel commented on #38
## 3/26 Agenda  and Notes

### Roll Call
- Bonnie
- Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)

#### New Items
- [ ] Revie

[2022-03-27 02:54] kcoronel commented on #42
Karen and Bonnie have decided to change the wiki from Getting Started to Knowledge Base, which can be found [here](https://github.com/hackforla/admin/wiki).

Started with creating pages for the FAQ's listed above.

Questions for Bonnie:
- What is this workflow relates to? 'updating project team leads and other information'
- Access to zoom (can this be FAQ instead?)
- Should we edit the following:

[2022-03-27 03:39] kcoronel commented on #38
## 4/16/22 Agenda and Notes

### Roll Call
- Bonnie
- Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)
           - review comme

[2022-04-16 16:33] #45 closed, assigned to ExperimentsInHonesty

[2022-04-16 16:40] kcoronel opened #46 "Suggestions for Admin Wiki Page"
### Overview
We want your suggestions for how to improve the admin wiki. So it can be a better resource for frequently asked questions within the organization (things that are relevant to all projects).

### Action Items
- [ ] Review wiki to make sure your question is not already answered there
- [ ] Add a comment to the bottom of this issue

### Resources/Instructions
[Admin Wiki Page](https://gi

[2022-04-18 21:40] kcoronel commented on #38
## 4/18/22 Agenda and Notes

### Roll Call
- Bonnie
- Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)
           - review comme

[2022-04-29 18:45] ExperimentsInHonesty opened #47 "Fix Zoom doc permissions"
### Overview
We need to figure out why we can't remove people from a resource so that we can ensure a successful offboarding process

### Action Items
- [ ] Review zoom problem
- [ ] Identify next steps
- [ ] Clean up permissions
- [ ] Define new process to prevent future
- [ ] Let project's know that its been fixed so that they can offboard their pms

### Resources/Instructions
https://github.com

[2022-05-28 16:19] kcoronel commented on #38
## 6-04-22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/a

[2022-06-04 16:35] ExperimentsInHonesty commented on #22
We need to change the instructions for this to indicate that the person should be added to the vault first, which issues an invitation, and makes sure that they are added to vault once confirmed.  See [new recording](https://drive.google.com/file/d/1xM03h8vxGmcp79QT0qQluSjj2Xsk__4t/view?usp=sharing)

[2022-06-04 16:37] ExperimentsInHonesty commented on #23
We need to change the instructions for this to indicate that this guide should be used if the person already is a member of hackforla 1password, and they need to be added to a second vault

[2022-06-09 17:52] AubreySchiavone commented on #22
I requested access to the Google drive folders for the guides and recordings, so that I can review the guides :)

[2022-06-18 15:57] kcoronel opened #48 "Admin Wiki Image Storage"
### Dependency
This issue lives in the icebox until it is needed.

### Overview
We need to be able to store images for reuse on the wiki

### Action Items
Add each image below and a comment with a description of what it is

[2022-06-18 15:58] kcoronel commented on #48
This is a screen shot of maintainer status
<img width="1678" alt="Screen Shot 2022-06-18 at 11 48 40 AM" src="https://user-images.githubusercontent.com/38144130/174446753-10c567ba-580c-4cd3-8dda-1cc1e0df0739.png">

[2022-06-18 16:05] kcoronel commented on #38
## 6-18-22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.co

[2022-06-18 16:28] kcoronel commented on #42
Moved to prioritized backlog- working on wiki first so that we have a centralized place of HackforLA organization

[2022-06-18 16:34] kcoronel opened #49 "Wiki Workflows"
### Overview
We need to get the wiki populated enough with solutions so that a paid assistant can triage the admin form responses

### Action Items
- [ ] Go though each workflow and identify
  - [ ] what still needs to be done for each one
  - [ ] which ones are completed

### Resources/Instructions
https://github.com/hackforla/admin/wiki
### Identified Workflows
- [ ] GitHub
     - [ ] [repo acce

[2022-06-18 17:01] ExperimentsInHonesty commented on #49
[code]

[2022-06-18 17:03] kcoronel commented on #49
@kcoronel to create issues for subsections of workflows identified above
Issues need epic label
All issues should have similar template and link to overview page and link to specific page (see Bonnie's comment above)

[2022-09-03 16:14] kcoronel commented on #38
## 8/27 Agenda  and notes

### Prework
- None for this week

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcorone

[2022-09-03 16:16] kcoronel commented on #38
## 9/3/22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/ad

[2022-09-24 16:13] kcoronel commented on #38
## 9-24-22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [x] Accountability and Support Check.
    - [x] Review assignments for each PM
       - [x] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [x] [Karen](https://github.com/hackforla/a

[2022-10-01 16:08] kcoronel commented on #38
## 10-01-22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [x] Accountability and Support Check.
    - [x] Review assignments for each PM
       - [x] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [x] [Karen](https://github.com/hackforla/

[2022-10-08 18:59] kcoronel commented on #48
https://user-images.githubusercontent.com/38144130/159130318-b346d3a5-326a-430d-a537-ea0ff62a41ae.png

[2022-10-08 19:20] kcoronel commented on #48
This is a screen shot of GitHub Comment Error
![Screen Shot 2022-10-08 at 12 18 22 PM](https://user-images.githubusercontent.com/38144130/194724002-7dae34e8-8065-447d-b829-c5de3e77b340.png)

[2022-10-08 19:23] kcoronel commented on #48
This is a screen shot of reaching Miro team limit
![Screen Shot 2022-10-08 at 12 22 23 PM](https://user-images.githubusercontent.com/38144130/194724082-fc8fcbef-c9d2-4541-99ea-79fff8994c8b.png)

[2022-10-08 19:27] kcoronel commented on #48
Zoom 1-Password Vault Content
![Screen Shot 2022-10-08 at 12 26 08 PM](https://user-images.githubusercontent.com/38144130/194724191-ab084f9e-8231-4f8e-b41a-bc6db530671d.png)

[2022-10-08 19:28] kcoronel commented on #48
Zoom One-Time Passcode Request
![image](https://user-images.githubusercontent.com/38144130/194724244-224d83a0-daeb-4515-aec2-53e58ec0e6a6.png)

[2022-10-15 14:58] kcoronel commented on #38
## 10-8-22 Agenda  and notes

### Prework
N/A

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)

#### New I

[2022-10-15 15:32] kcoronel commented on #38
## 10-15-22 Agenda  and notes

### Prework
- N/A

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)

#### Ne

[2022-10-15 16:36] kcoronel opened #50 "Meetup Volunteer Onboarding Event Language"
### Overview
In the comment below you will find the template language that Hack for LA uses on Meetup for volunteer onboarding.

### Action Items
- [x] Copy and paste language from the comment below
- [x] Customize Zoom link for the event you are posting on Meetup
- [x] Add panelists to Zoom webinar set-up

### Resources/Instructions
[Onboarding Panelists Spreadsheet](https://docs.google.com/sprea

[2022-10-15 16:36] kcoronel commented on #50
We are volunteers coming together to make LA better for everyone!

We are a group of designers, developers, product managers, and non-technical community activists. We're both experts and learners, so you can flex your skills or learn new ones while giving back at the same time!

NEXT STEPS:

1. Read WHAT IS COVERED IN THIS MEETUP
1. Read FAQ
1. RSVP here on meetup for this event & on [Zoom Regist

[2022-11-08 20:56] ExperimentsInHonesty opened #51 "2023 Meetup set up"
### Overview
We need to set up all the meetups for 2023 including the zoom webinar links

### Action Items
- [x] Add dates the meetings should be happening into a comment
- [x] fix the dates in meetup so that they match
- [x] clean up the content in each meetup
- [x] Setup links in CFA zoom for the Webinars
   - [x] Add panelists via the .csv to the invites
- [x] Add webinar registration link to c

[2022-11-08 21:08] ExperimentsInHonesty commented on #51
# 2022 Meetup Dates
### November
- 2022-11-08
   - Meetup link:
   - Day of the week:
   - Zoom Registration Link: https://codeforamerica.zoom.us/webinar/register/WN_76vBaPfRRAebZ_9MbRgCWQ

# 2023 Meetup Dates
### Jan

- 2023-01-03
   - Meetup link: https://www.meetup.com/hackforla/events/pxkmhsyfccbfb/
   - Day of the week: Tuesday
   - Zoom Registration link: https://codeforamerica.zoom.us/webin

[2022-11-12 09:20] kcoronel commented on #38
## 11-12-22 Agenda  and notes

### Prework
- N/A

### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)

#### Ne

[2022-11-12 17:38] ExperimentsInHonesty opened #52 "Define Automations for the Org repos"
### Overview
We need to define what repo automations Admin need so that we can create a series of issues in the engineering CoP that will lead to the organization having more standardized methods and tools across repos

### Action Items
- [ ] Brainstorm ideas
- [ ] Create Spreadsheet
- [ ] Prioritize
- [ ] Gather more info on the ideas that are Must Haves

### Resources/Instructions

[code]

[2022-11-12 17:49] ExperimentsInHonesty commented on #52
### Dependency
- Soft dependency: If we had the GHA to automate adding of project name label to each repo then we could create Special Purpose Repos and fill them faster.

### Management of Projects
We need to be able to see all the project's outstanding items in one place

### Proposal Overview
Create an - [An Org wide project board (at org level) to unify all the outstanding task items for proje

[2022-11-12 17:52] ExperimentsInHonesty commented on #52
### Proposal Overview
Create an automation that allows for installing specific labels onto a repo or group of repos as defined by a text file so that we can easily roll out a new label structure to teams

### Resources
GitHub API info for creating labels https://docs.github.com/en/rest/issues/labels
A person's automation for adding labels to a repo: https://gist.github.com/liuderchi/8d1c8e0a74fd69

[2022-11-12 18:02] ExperimentsInHonesty commented on #52
# Brainstorming

### creates a new issue each week on a specified date
- uses
   - Agendas
    - Weekly label check

### Creates a series of labels (one for each project) on a specific repo
- details
  - has a configuration file where you can specify
     - name of label
     - list of project names
- uses
  - applying labels to issues for all projects
    - Google Drive Migration
    - Gmail emai

[2022-11-17 01:45] ExperimentsInHonesty commented on #52
# Brainstorming with some useful research on specific possible automation or linter.
### Link checker which will run weekly and check incoming PRs
#### Resources/Instructions
- Browser based XML Sitemap creator: https://www.xml-sitemaps.com/
   - [Results of checking for pages 2022-10-18](https://www.xml-sitemaps.com/details-merlcenter.org-be5d57a42.html)
- Web based link checker 1: https://error4

[2022-11-22 20:23] kcoronel opened #53 "Hack for LA 2022 Holiday Party Planning"
### Overview
Planning Hack for LA's 2022 in-person holiday party.
**Saturday, December 10, 2022**
**Time: 6:00 - 9:00 PM**
[MeetUp RSVP Link](https://www.meetup.com/hackforla/events/290125124/)

Virtual Holiday Party
**Saturday, December 14, 2022**
**Time: 6:00 - 9:00 PM**
Zoom link:

### Action Items
Potential venues list:
_venues below have a liberal option for reserving space i.e. no charge for

[2022-11-22 20:26] kcoronel commented on #53
Draft Invite ![Holiday Party](https://user-images.githubusercontent.com/38144130/195994147-056bb65b-0657-4109-9e49-c811372e9c87.png)

[2022-11-22 21:17] kcoronel commented on #53
Comments for image:
Language updates
Location
Link to place

[2022-11-25 22:37] ExperimentsInHonesty opened #54 "Get more skilled volunteers into the mix"
### Overview
We need to have some other platforms besides meetup to recruit from and we need to increase the number of skilled volunteers

### Action Items
- [ ] Identify skills based volunteering platforms
- [ ] Create an outreach and engagement plan.

### Resources/Instructions
- Mine this resource for templates, etc [PRO BONO/SKILLS-BASED VOLUNTEERING RESOURCES FOR NONPROFITS](https://www.nycse

[2022-11-26 04:12] ExperimentsInHonesty commented on #38
Agenda for next meeting
- https://trello.com/b/0lHZxVch/hfla-bonnie-mgmt